body {
  font-family: "Open Sans", sans-serif;
}

#main-heading {
  font-size: 2.5em;
  font-weight: 300;
}

.controls-form {
  display: flex;
  justify-content: space-evenly;
}

.center {
  display: flex;
  justify-content: center;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.small-fieldset {
  border-width: 1px;
  margin-left: 25px;
  margin-right: 25px;
  width: 40%;
}

.numeric-input {
  border-color: darkgrey;
  border-width: 0 0 1px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  width: 50px;
}

.color-input {
  background-color: #fff;
  border-color: darkgrey;
  border-width: 0 0 1px 0;
}

.labeled-input {
  margin-left: 5px;
}
